<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="~{fragments/header::header}"></div>
	<a href="/board/list">list</a>
	<a href="/board/write">write</a><br>
	[[${b}]]<br>
	<a th:attr="href='/board/edit?b_no='+${b.b_no}">edit</a>
	<form action="/board/del" method="post">
		<input type="hidden" name="b_no" th:value="${b.b_no}">
		<button>del</button>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	<hr>
	<form action="/reply/write" method="post">
		<input name="replyer" th:value="${#authentication.principal} eq 'anonymousUser'?'anonymousUser':${#authentication.principal.member.email}">
		<input name="replyText">
		<input name="b_no" th:value="${b.b_no}">
		<button>write</button>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	<hr>
	<th:block th:each="r:${rlist}">
		[[${r}]]<br>
	</th:block>
	<div th:insert="~{fragments/footer::footer}"></div>
</body>
</html>