<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">

	[[${#authentication.principal} eq 'anonymousUser'?'로그인해주세요.':${#authentication.principal.member.email}+'님 안녕하세요']]
	<a th:if="${#authentication.principal} eq 'anonymousUser'" href="/member/login">login</a>
	<form action="/member/logout" method="post" th:if="${#authentication.principal} ne 'anonymousUser'">
        <input type="hidden" th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}" />
        <button type="submit" class="btn">LogOut</button>
	</form>
	
	<!-- menu -->
	<a href="/board/list">list</a>
	
	<hr>
</div>
</html>